@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 

.card{
  animation: appear auto linear;
  animation-timeline: view();
  animation-range: 0 cover 100%;
  animation-fill-mode: both;
}

@keyframes appear {
  0% {
    filter: grayscale(100%);
    scale: .5;
    opacity: 0;
  }

  40% {
    filter: grayscale(100%);
    scale: 1;
    opacity: 1;
  }

  41% {
    filter: grayscale(0%);
  }

  50% {
    filter: grayscale(0%);
  }
  
  59% {
    filter: grayscale(0%);
  }
  
  60% {
    filter: grayscale(100%);
    scale: 1;
    opacity: 1;
  }

  100% {
    filter: grayscale(100%);
    scale: .5;
    opacity: 0;
  }
}